#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# Reverse proxy - API

server {
  listen {{ http_port }};
  server_name _;

  access_log {{ paths.logs }}/{{ application_name }}.access.log;
  error_log {{ paths.logs }}/{{ application_name }}.error.log;

  location / {
    proxy_pass http://localhost:{{ application_ports.api }};
    {{ nginx_main_location_proxy_set_headers | indent(4, False) }}
  }
}
